<mat-card>
  <mat-card-header>
    <mat-card-title>Minimap Reminder</mat-card-title>
    <mat-icon
      class="end"
      matTooltip="
      Makes random sound between 160 - 5160 Hz every {Interval} milliseconds for {Sound duration} milliseconds.
      Every time you hear the sound you should look at minimap now or in close future.
      Feel free to use this tool for any other reminder you may need (Check your mana, check corners, reminder for resin refill, take a break [there are better tools for this], water your plants [probably not])"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >help</mat-icon
    >
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="row">
        <mat-icon aria-label="Volume" title="Volume"> volume_up </mat-icon>

        <mat-slider
          #volumeSlider
          thumbLabel
          color="accent"
          step="1"
          min="0"
          max="200"
          [value]="volume$ | async"
          [displayWith]="formatVolumeLabel"
          (change)="volumeSliderChanged($event.value)"
        ></mat-slider>
      </div>

      <div class="row">
        <mat-icon aria-label="Interval" title="Interval"> timer </mat-icon>
        <mat-form-field color="accent">
          <mat-label>Inteval</mat-label>
          <input
            matInput
            type="number"
            step="100"
            [min]="intervalMinimum"
            [value]="intervalValueInMilliseconds$ | async"
            (change)="intervalChanged($event.target.valueAsNumber)"
          />
          <span matSuffix>ms</span>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-icon aria-label="Sound duration" title="Sound duration">
          timelapse
        </mat-icon>
        <mat-form-field color="accent">
          <mat-label>Sound duration</mat-label>
          <input
            matInput
            type="number"
            step="50"
            [min]="playTimeMinimum"
            [value]="playTimeValue$ | async"
            (change)="playTimeChanged($event.target.valueAsNumber)"
          />
          <span matSuffix>ms</span>
        </mat-form-field>
      </div>
      <div class="row wrap">
        <label id="example-radio-group-label">Sound type:</label>
        <mat-radio-group
          [value]="soundType$ | async"
          (change)="soundTypeChanged($event.value)"
          aria-label="Select a sound type"
        >
          <mat-radio-button value="sine">Sine</mat-radio-button>
          <mat-radio-button value="sawtooth">Sawtooth</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="start()">Start</button>
    <button mat-flat-button (click)="stop()">Stop</button>
  </mat-card-actions>
</mat-card>
