:host {
  display: block;
  padding-top: 5em;
}

.end {
  margin-left: auto;
}

mat-card {
  margin: auto;
  vertical-align: middle;
  min-width: 250px;
  width: min-content;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 100%;
}

mat-slider {
  width: 100%;
}

mat-card-actions {
  display: flex;
  gap: 0.5em;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 0.5em;
}
