<mat-sidenav-container>
  <mat-sidenav [disableClose]="true" opened="true" [mode]="'side'">
    <div class="icon-header">
      <img width="60" height="60" src="assets/minimap-reminder-icon.svg" alt="minimap reminder icon">
    </div>
    <mat-list>
      <mat-list-item class="no-padding">
        <a routerLink="reminder">Reminder</a>
      </mat-list-item>
      <mat-list-item class="no-padding">
        <a routerLink="info">Info</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
